/target

# By Default, Ignore any .*, except .gitignore
.*
!.gitignore
!.dockerignore
!.gitattributes
!.rustfmt.toml
!.github
!.pre-commit-config.yaml
!.gitkeep



# -- Rust
# For .cargo/config.toml
!.cargo/
target/


# -- Safety net
dist/
__pycache__/
node_modules/
npm-debug.log
report.*.json

*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz

# logs
logs/

# -- Secrets safety net (SSH keys, tokens, etc.)
id_rsa*
id_ed25519*
id_ecdsa*
*.pem
*.key
